/* Basic Reset */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Screens */
.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

/* Hidden Screens */
.hidden {
  display: none;
}

/* Banner */
.banner {
  width: 100%;
  text-align: center;
  background-color: #004080;
  color: white;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Input and Buttons */
input,
button {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* Buttons */
button {
  background-color: #87cefa; /* Pale blue */
  color: #004080;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #f5deb3; /* Beach color */
  color: #333;
}

.back {
  background-color: #ffa07a; /* Light salmon */
}

.back:hover {
  background-color: #ff6347; /* Tomato */
}

/* Transaction Details */
.transaction-details {
  margin: 10px 0;
  text-align: left;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #ffffff;
}

.note {
  font-size: 12px;
  color: gray;
  text-align: center;
}
